version: "3"

services:
  # next_app:
  #   container_name: next_app
  #   user: "node"

  #   build:
  #     context: . # ビルドに必要なファイルが存在するディレクトリのパスを指定
  #     dockerfile: Dockerfile.dev # ビルドに使用するDockerfileの名前を指定

  #   environment:
  #     - NODE_ENV=development

  #   volumes:
  #     # ホストのディレクトリとコンテナの/workspaceをマウント
  #     - type: bind
  #       source: .
  #       target: /workspace

  #     - type: volume
  #       source: node_modules
  #       target: /workspace/next_app/node_modules

  #   restart: always # コンテナが異常終了した場合に自動的に再起動

  #   ports:
  #     - 127.0.0.1:3000:3000 # ホストのポート3000をコンテナのポート3000にマッピング

  #   networks:
  #     - next_app_network # コンテナが参加するネットワークの名前

  postgres-db:
    container_name: db
    image: postgres:16
    ports:
      - 5432:5432
    volumes:
      # - db-store:/var/lib/postgresql/data
      - ./scripts/database/init:/docker-entrypoint-initdb.d # 初期化用のSQLファイルをマウント
    environment:
      - POSTGRES_PASSWORD=password
    networks:
      - next_app_network

volumes:
  node_modules:
    name: next_app_node_modules

networks:
  next_app_network:
    driver: bridge
