@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient() rgb(var(--background-start-rgb));
}

body,
button,
input,
textarea {
  font-family: "Noto Sans JP", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* ダークモード時のフォアグラウンドカラー（白） */
    --background-color: #000000; /* ダークモード時の背景色（黒） */
  }

  body {
    color: rgb(var(--foreground-rgb)); /* ダークモード時のフォアグラウンドカラーを適用 */
    background-color: var(--background-color); /* ダークモード時の背景色を適用 */
  }
}
